

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>
<body>
  <header class="header">
    <a href="#" class="logo">portfolio</a>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon"><i class='bx bx-menu'></i></label>
    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="#about">about</a>
      <a href="#services">skill</a>
      <a href="#portfolio">project</a>
      <a href="#contact">contact</a>
    </nav>
  </header>

    

      <section class="home">
        <div class="home-content">
            <div class="content-left">
                <h3>Hello, its me</h3>
                <h1>MalavikaRajeevan</h1>
                <h3>and I am <span>Fullstack developer</span></h3>
                <p></p>
                <div class="home-scl">
                    <a href=""><img src="../static/images/gmail.png" style="width: 20px; "></a>
                    <a href="https://www.instagram.com/_malavika_rajeev_?igsh=MXRiem52dTBxMGI5NA=="><img src="../static/images/insta.png" style="width: 20px; "></a>
                    <a href="#"><img src="../static/images/whatsapp.png" style="width: 20px; "></a>
                   
                </div>
                <a href="#" class="btn-box">download cv</a>
            </div>
            
        </div>
        <div class="content-right">
          <img src="../static/images/about.png" style="width: 100%; max-width: 450px;">
      </div>
    </section>
    
        <section class="about" id="about">
            <div class="about-img" style="margin: 30%;">
                <img src="../static/images/pic.jpg">
            </div>
            <div class="about-text" style="margin-right: 40px;">
                <h1>About Me</h1>
                <h5>python fullstack-<span>develepor</span></h5>
                <p>I'm a passionate and self-motivated PYTHON-FULLstack developer<br> eager to kick-start my career in the tech industry.<br> I love building web applications that solve real-world problems and provide meaningful experiences to users</p>
                <a href="#" class="btn bg-warning mb-4">hire me</a>
            </div>
        </section>



        <section class="services" id="services">
          <h1 class="heading">my<span>skills</span></h1>
          <div class="services-container">
            <div class="services-box">
              <i class='bx bx-code-alt'></i>
              <h3>front end</h3>
              <div class="skills">
                <h3><span><i class='bx bxl-css3'></i></span>css</h3>
                <h3><span><i class='bx bxl-html5'></i></span>html</h3>
                <h3><span><i class='bx bxl-bootstrap'></i></span>bootstrap</h3>
                
              </div>
             
            </div>
            <div class="services-box">
              <i class='bx bx-code-alt'></i>
              <h3>back end</h3>
              <div class="skills">
                <h3><span><i class='bx bxl-django'></i></span>django</h3>
                <h3><span><i class='bx bxl-flask'></i></span>flask</h3>
                <h3><span><i class='bx bxl-css3'></i></span>sql lite</h3>
               
              </div>
              
            </div>
            <div class="services-box">
              <i class='bx bx-code-alt'></i>
              <h3>others</h3>
              <div class="skills">
                <h3><span><i class='bx bxl-github'></i></span>git</h3>
                <h3><span></span></h3>
                
              
            </div>
          </div>
        </section>



  

   
      
  

      <section class="portfolio" id="portfolio">
        <h2 class="heading">latest<span>projects</span></h2>


        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="../static/images/portfolio.png" alt="">
                <div class="portfolio-layer">
                    <h4>port folio</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam error, amet explicabo vero minus corporis eaque<br> quidem doloribus aperiam fuga accusamus, accusantium ipsa molestiae. Minus vitae dolore animi explicabo veniam.</p>
                    <a href="https://github.com/malavikarajeevan/portfolio-proj.git"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="../static/images/Screenshot 2024-03-11 002027.png" alt="">
                <div class="portfolio-layer">
                    <h4>Ecomerce website</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quas officia voluptates nisi maxime veniam ullam <br>consequuntur dolorem error illo aperiam velit, magnam necessitatibus nemo porro eum sunt tempore eos!</p>
                    <a href="https://github.com/malavikarajeevan/watch_proj.git"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src= "../static/images/mainproj.png"alt="">
                <div class="portfolio-layer">
                    <h4>Main-Project</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quas officia voluptates nisi maxime veniam ullam <br>consequuntur dolorem error illo aperiam velit, magnam necessitatibus nemo porro eum sunt tempore eos!</p>
                    <a href="https://github.com/malavikarajeevan/hospital-proj.git"><i class='bx bxl-github' style="width: 20px;"></i></a>
                </div>
            </div>
        </div>
      </section>



      <section class="contact" id="contact bg-warning">
        <h2 class="heading">Contact<span>Me</span></h2>
        <form method="post" action="/submit">
          <div class="input-box">
            <input type="text" name="name" placeholder="Full Name">
            <input type="email" name="email" placeholder="Email Address">
          </div>
          <div class="input-box">
            <input type="number" name="number" placeholder="Mobail Number">
            <input type="text" placeholder="Email subject">
          </div>
          <textarea name="message" id="" cols="30" rows="10" placeholder="your messages"></textarea>
          <input type="submit" value="send message" class="btn">

        </form>
       
      </section>


     


   
        
        
    
</body>
</html>
